.MainBackground{
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}

.Login{
    font-family: 'Exo', sans-serif;
    font-size: calc(100vw/53);
    font-weight: 500;
    color: white;
    margin: 20px 0 0;
}

.login-block{
    border-radius: 50px;
    width: calc(100vw/3.3);
    backdrop-filter: blur(4px);
    background: rgba(134, 37, 160, 0.1);
    border: 8px solid #8625A0;
    display: flex;
    flex-direction: column;
}

.input-title{
    font-size: 20px;
    font-family: 'Exo', sans-serif;
    color: white;
    margin: 40px 0 0 80px;
    font-weight: 500;
}

.input-login{
    margin-left: 40px;
    margin-right: 40px;
    height: calc(100vh/10.76);
    background: rgba(134, 37, 160, 0.5);
    border: 5px solid #8625A0;
    border-radius: 114px;
    font-size: 32px;
    font-family: 'Exo', sans-serif;
    outline: none;
    padding-left: 40px;
    font-weight: 500;
    color: white;
}

.login-button{
    background: #FFDE2E;
    border-radius: 106px;
    color: #202020;
    width: calc(100vw/4.74);
    height: calc(100vh/10.76);
    outline: none;
    font-weight: 500;
    font-size: 32px;
    font-family: 'Exo', sans-serif;
    border-color: #FFDE2E;
    margin-top: 78px;
}

.comeback-button{
    background: #828282;
    border-radius: 106px;
    color: #202020;
    width: calc(100vw/4.74);
    height: calc(100vh/10.76);
    outline: none;
    font-weight: 500;
    font-size: 32px;
    font-family: 'Exo', sans-serif;
    border-color: #828282;
}

.main-row-auth{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 161px;
}

.topMargin{
    margin-top: 14px;
}

.topMarginButtons{
    margin-top: 225px;
}

.buttons-block{
    display: flex;
    flex-direction: column;
    margin-left: 64px;
    align-items: center;
}

.white-additional-text{
    font-family: 'Exo', sans-serif;
    font-size: 24px;
    color: white;
    margin-top: 29px;
    user-select: none;
}

@media only screen and (min-width: 200px) and (max-width: 800px) {

    .screen-background{
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .MainBackground{
        width: 100%;
        height: 100vh;
        overflow-y: hidden;
        background:  linear-gradient(180deg, #202020 9.81%, #222222 100%);
    }

    .Login{
        font-family: 'Exo', sans-serif;
        font-size: 19px;
        font-weight: 500;
        color: white;
        margin: 17px 0 0;
    }

    .main-row-auth{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .login-block{
        border-radius: 30px;
        width: 332px;
        backdrop-filter: blur(4px);
        background: rgba(134, 37, 160, 0.1);
        border: 3px solid #8625A0;
        display: flex;
        flex-direction: column;
    }

    .input-title{
        font-size: 12px;
        font-family: 'Exo', sans-serif;
        color: white;
        margin: 24px 0 0 47px;
        font-weight: 500;
    }

    .input-login{
        margin-left: 23px;
        margin-right: 18px;
        height: 51px;
        background: rgba(134, 37, 160, 0.5);
        border: 3px solid #8625A0;
        border-radius: 67px;
        font-size: 19px;
        font-family: 'Exo', sans-serif;
        outline: none;
        padding-left: 23px;
        font-weight: 500;
        color: white;
    }

    .login-button{
        background: #FFDE2E;
        border-radius: 60px;
        color: #202020;
        width: 232px;
        height: 50px;
        outline: none;
        font-weight: 500;
        font-size: 19px;
        font-family: 'Exo', sans-serif;
        border-color: #FFDE2E;
        margin-top: 30px;
    }

    .comeback-button{
        background: #828282;
        border-radius: 60px;
        color: #202020;
        width: 232px;
        height: 50px;
        outline: none;
        font-weight: 500;
        font-size: 19px;
        font-family: 'Exo', sans-serif;
        border-color: #828282;
    }

    .buttons-block{
        display: flex;
        flex-direction: column;
        margin-left: 0;
        align-items: center;
    }

    .white-additional-text{
        font-family: 'Exo', sans-serif;
        font-size: 14px;
        color: white;
        margin-top: 29px;
        user-select: none;
    }
}