.MainBackground{
    width: 100%;
    overflow-y: hidden;
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

.grid{
    display: grid;
    grid-template-columns: repeat(5, auto);
}

.title{
    font-family: Exo, sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: white;
}

.title-additional{
    font-family: Exo, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: white;
}

.game-object{
    width: 200px;
    height: 200px;
    background: #2D2D2D;
    border-radius: 20px;
    margin-left: 17px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-object-type{
    font-size: 36px;
    font-weight: 500;
    font-family: Exo, sans-serif;
    color: #32FF2E;
    margin-top: 36px;
}

.game-object-type-lose{
    color: #EB001B;
}

.game-object-money{
    font-family: Exo, sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: white;
}

@media only screen and (min-width: 200px) and (max-width: 800px) {

    .grid{
        grid-template-columns: repeat(1, auto);
    }

    .screen-background{
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .big-background{
        width: 100%;
        background:  linear-gradient(180deg, #202020 9.81%, #222222 100%);
    }

    .title{
        font-family: Exo, sans-serif;
        font-size: 28px;
        font-weight: 500;
        color: white;
    }
}